# Database Connection String for Prisma
DATABASE_URL="postgres://user:password@cloud-db.provider.com:5432/dbname"

# Express API Port (Vercel assigns this automatically, but useful for local testing)
PORT=5001

# Node Environment
NODE_ENV="production"
